
@use "../abstracts/variables" as var

.clickable
    cursor: pointer
    background: none
    border: none

.hamburger
    @extend .clickable

.gradient-btn
    background: var.$gradient-purple-white
    color: var.$main-bg
    font-weight: 700
    padding-left: 8rem
    padding-right: 8rem
    padding-top: 2rem
    padding-bottom: 2rem
    border-radius: 5rem
    border: none

.secondary-btn
    background: transparent
    color: white
    font-weight: 700
    padding-left: 8rem
    padding-right: 8rem
    padding-top: 2rem
    padding-bottom: 2rem
    border-radius: 5rem
    border: 1px solid white

.gradient-btn, .secondary-btn
    &__nav-button
        padding: 2rem 4rem

.Hero-root
    &__cta
        button:first-of-type
            transform: rotate(180deg)
