@use "../layout/grid" as grid
@use "../abstracts/_variables" as _variables
@use "../abstracts/breakpoints" as breakpoints

.Hero-root
    &__cta
        width: 100%
        padding-top: 2rem
        padding-bottom: 2rem
        padding-left: 1rem
        padding-right: 1rem
        border-radius: 10rem
        background: _variables.$gradient-radial-main
        justify-content: space-around
        @extend .row
        @extend .a-center
        .row > .col > p
            margin: 0
        .row, img[alt="divider"], .row > .col > h3
            display: none
            text-align: left !important
        .row:first-of-type
            display: flex

.Build-root
    article
        background: _variables.$gradient-radial-secondary
        padding: 4rem
        border-radius: 5rem

.How-root
    article
        h4
            font-size: 2.5rem
    &__ellipse
        border-radius: 50%
        padding: 2rem
        background: _variables.$gradient-purple-white
        position: relative
        margin: 4rem 0
        color: _variables.$main-bg
        width: 100%
        max-width: 19rem
        aspect-ratio: 1/1
        display: flex
        justify-content: center
        align-items: center
        div
            font-weight: 700
            margin: 0
            font-size: 5rem !important
