@use "../layout/grid" as grid
@use "../abstracts/_variables" as _variables

.Hero-root
    &__cta
        width: 100%
        padding-top: 2rem
        padding-bottom: 2rem
        padding-left: 1rem
        padding-right: 1rem
        border-radius: 10rem
        background: _variables.$gradient-radial-main
        @extend .row
        @extend .a-center
