@use "../layout/grid" as grid
@use "../abstracts/_variables" as _variables
@use "../abstracts/breakpoints" as breakpoints

.Hero-root
    .slider-container
        .slider-wrapper
            width: 100%
            height: 100%
            .slider-nav
                top: 30% !important
                background: none
                padding: 0
            .slider-nav.left
                left: -20px
                transform: rotate(180deg)
            .slider-nav.right
                right: -20px
                transform: rotate(0deg)
            .slider-4
                align-items: center
                .slides
                    display: flex
                    align-items: center
                    justify-content: center
                    gap: 1rem
                    padding: 1rem
                    height: 100%
                    min-width: unset !important
                    img
                        width: auto
                        height: 3rem

.slider-container
    padding: 2rem
    width: 100%
    .slider-wrapper
        position: relative
        margin: 0 auto
        width: 38rem
        .slider-nav
            position: absolute
            top: 45%
            transform: translateY(-50%)
            background: _variables.$gradient-purple-white
            padding: 1px
            border-radius: 50%
            aspect-ratio: 1/1
            display: flex
            justify-content: center
            align-items: center
            img
                max-width: 5rem
                width: 100%
                height: 100%
        .slider-nav.left
            left: -20px
            transform: rotate(90deg)
        .slider-nav.right
            right: -20px
            transform: rotate(-90deg)
        .slider-1, .slider-2, .slider-3, .slider-4
            display: flex
            overflow-x: auto
            scroll-snap-type: x mandatory
            scroll-behavior: smooth
            &::-webkit-scrollbar
                width: 0px
                background: transparent
            .slides
                flex: 1 0 100%
                scroll-snap-align: start
                min-width: 38rem

.Hero-root
    &__cta
        width: 100%
        padding-top: 2rem
        padding-bottom: 2rem
        padding-left: 1rem
        padding-right: 1rem
        border-radius: 10rem
        background: _variables.$gradient-radial-main
        justify-content: space-around
        @extend .row
        @extend .a-center
        .row > .col > p
            margin: 0
        img[alt="divider"], .row > .col > h2
            display: none
            text-align: left !important
        .row:first-of-type
            display: flex

.Build-root
    article
        background: _variables.$gradient-radial-secondary
        padding: 4rem
        border-radius: 5rem

.How-root
    article
        h2
            font-size: 2.5rem
    &__ellipse
        border-radius: 50%
        padding: 1rem
        background: _variables.$gradient-purple-white
        position: relative
        margin: 4rem 0
        color: _variables.$main-bg
        width: 100%
        max-width: 19rem
        aspect-ratio: 1/1
        display: flex
        justify-content: center
        align-items: center
        div
            font-weight: 700
            margin: 0
            font-size: 5rem !important
