img[alt="main logo"]
    width: auto
    height: auto
    max-width: 10rem

footer
    img[alt="main logo"]
        width: 100%
        height: 100%
        max-width: 22rem !important

img[alt="text logo"]
    width: auto
    height: auto
    max-width: 5rem

img[alt="woman wearing vr headset"]
    border-radius: 10rem 10rem 10rem 30rem

img[alt="man wearing vr headset"]
    border-radius: 7.5rem 17.5rem

.shadow
    box-shadow: 0 0 0 3rem #0E0E0E52

img[alt="woman using vr headset"]
    border-radius: 50%
    width: 100%
    max-width: 23rem
    aspect-ratio: 1/1

img[alt="another woman wearing vr headset"]
    border-radius: 7rem
    object-fit: cover
    width: 100%
    height: 20rem

.Tech-root
    &__banner-container
        position: relative
        width: 100%
        height: fit-content
        display: flex

    h3
        width: 100%
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        font-size: 3rem
