img[alt="main logo"]
    width: auto
    height: auto
    max-width: 10rem

img[alt="text logo"]
    width: auto
    height: auto
    max-width: 5rem

img[alt="woman wearing vr headset"]
    border-radius: 10rem 10rem 10rem 30rem

img[alt="man wearing vr headset"]
    border-radius: 7.5rem 17.5rem
