@use "../abstracts/variables" as *

:root
    background: $main-bg
    font-size: 8px
    font-family: 'Montserrat', sans-serif
    color: $white

html
    box-sizing: border-box

main
    margin-left: 2rem
    margin-right: 2rem

h1
    font-size: 5rem

h2
    font-size: 4.5rem

h3
    font-size: 4rem

h4
    font-size: 3.5rem

h5
    font-size: 3rem

h6
    font-size: 2.5rem

p, div, button
    font-size: 2rem

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
    display: block

body
    line-height: 1

ol, ul
    list-style: none

blockquote, q
    quotes: none

blockquote:before, blockquote:after,
q:before, q:after
    content: ''
    content: none

table
    border-collapse: collapse
    border-spacing: 0
