@use "../abstracts/variables" as var

:root
    background: var.$main-bg
    font-size: 8px
    font-family: 'Montserrat', sans-serif
    color: var.$white

.fullWidth
    width: 100%

footer
    position: relative
    margin: 4rem 3rem
    overflow: hidden
    & > *
        margin-bottom: 2rem

section > *
        margin-bottom: 2rem

header
    position: sticky
    top: 0
    left: 0
    padding-top: 3rem
    padding-bottom: 3rem
    padding-left: 2rem
    padding-right: 2rem
    z-index: 2
    backdrop-filter: blur(0.5rem)

body
    margin: 0

nav, img, hr
    width: 100%

hr
    border: none
    background: rgba(192, 183, 232, 0.33)
    height: 2px
    margin: 1rem 0 1rem 0

html
    box-sizing: border-box

main
    margin-left: 2rem
    margin-right: 2rem

main > *
    margin-bottom: 2rem

h1
    font-size: 5rem

h2
    font-size: 4.5rem

h3
    font-size: 4rem

h4
    font-size: 3.5rem

h5
    font-size: 3rem

h6
    font-size: 2.5rem

p, div, button
    font-size: 2rem

p, div
    font-weight: 300
    line-height: 4rem

h1,h2,h3,h4,h5,h6
    text-align: center
    margin: 1rem 0 1rem 0

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
    display: block

body
    line-height: normal

ol, ul
    list-style: none
    padding: 0

blockquote, q
    quotes: none

blockquote:before, blockquote:after,
q:before, q:after
    content: ''
    content: none

table
    border-collapse: collapse
    border-spacing: 0
