.highlighter {
  background: linear-gradient(156deg, #C0B7E8 0%, #8176AF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5.5rem;
  color: red;
}

.Hero-root__title {
  font-size: 3.5rem;
}

.thin {
  font-weight: 300;
}

footer h1, footer h2 {
  font-size: 2rem;
}

@media ((min-width: 900px)) {
  .Header-root .options {
    display: none;
  }
}
.Header-root__links, .Header-root__btns {
  display: none !important;
}
@media ((min-width: 900px)) {
  .Header-root__links, .Header-root__btns {
    display: flex !important;
  }
}

.Footer-root__copyright {
  display: none;
}
@media ((min-width: 900px)) {
  .Footer-root__copyright {
    display: block;
  }
}
@media ((min-width: 900px)) {
  .Footer-root .lines {
    top: -50rem !important;
  }
}
@media ((min-width: 1200px)) {
  .Footer-root .lines {
    top: -70rem !important;
  }
}
@media ((min-width: 1500px)) {
  .Footer-root .lines {
    top: -90rem !important;
  }
}

.About-root .lines, .Build-root .lines {
  display: none;
}
@media ((min-width: 900px)) {
  .About-root .lines, .Build-root .lines {
    display: block;
  }
}

.Build-root div.row.j-center p {
  display: none;
}
@media ((min-width: 900px)) {
  .Build-root div.row.j-center p {
    display: flex;
  }
}
.Build-root div.row.j-center div.row.a-center img[alt="arrow right"] {
  display: none;
}
@media ((min-width: 900px)) {
  .Build-root div.row.j-center div.row.a-center img[alt="arrow right"] {
    display: flex;
  }
}

.Intro-root .row,
.Intro-root img[alt="arrow right"], .Intro-root .Intro-root > p.fullWidth {
  display: none;
}
@media ((min-width: 900px)) {
  .Intro-root .row,
  .Intro-root img[alt="arrow right"], .Intro-root .Intro-root > p.fullWidth {
    display: flex;
  }
}

@media ((min-width: 1200px)) {
  .Hero-root__cta .row, .Hero-root__cta .row > .col > h3, .Hero-root__cta img[alt=divider] {
    display: flex !important;
  }
  .Hero-root__cta button.clickable {
    display: none;
  }
}

@media ((min-width: 900px)) {
  .About-root, .Intro-root, .About-root {
    flex-direction: row !important;
    gap: 2rem;
  }
}

@media ((min-width: 900px)) {
  .Hero-root__container, .About-root__container {
    width: 100%;
    flex-direction: row-reverse !important;
    justify-content: space-around !important;
    gap: 2rem;
  }
}
@media ((min-width: 900px)) {
  .Hero-root__text, .About-root__text {
    align-items: flex-start !important;
    text-align: left;
  }
}
.Hero-root__build, .About-root__build {
  display: none;
}
@media ((min-width: 900px)) {
  .Hero-root__build, .About-root__build {
    display: flex;
  }
}

@media ((min-width: 900px)) {
  .Build-root__cards, .Build-root__card-container, .Tech-root__cards, .Tech-root__card-container, .How-root__cards, .How-root__card-container {
    justify-content: space-evenly !important;
    flex-direction: row !important;
  }
}
@media ((min-width: 1200px)) {
  .Build-root__cards, .Build-root__card-container, .Tech-root__cards, .Tech-root__card-container, .How-root__cards, .How-root__card-container {
    justify-content: space-between !important;
  }
}

.How-root .lines {
  display: none;
}
@media ((min-width: 900px)) {
  .How-root .lines {
    display: block;
  }
}
.How-root__cards article {
  width: 100%;
  min-width: 10rem;
}

.Contact-root input, .Contact-root textarea {
  width: 100%;
}

@media ((min-width: 900px)) {
  .Contact-root__input-container, .Footer-root__container {
    flex-direction: row !important;
    gap: 1rem;
  }
  .Contact-root__input-container .fullWidth, .Footer-root__container .fullWidth {
    display: flex;
    flex-direction: column;
  }
}

.Footer-root__nav, .Footer-root__links {
  display: none;
}
@media ((min-width: 900px)) {
  .Footer-root__nav, .Footer-root__links {
    display: block;
  }
}

@media ((min-width: 900px)) {
  .About-root__text, .Hero-root__text {
    width: 50vw;
  }
}
@media ((min-width: 900px)) {
  .About-root__text, .About-root__title, .Hero-root__text, .Hero-root__title {
    align-items: flex-start;
    text-align: left;
  }
}

.Build-root article {
  width: 100%;
  max-width: 38rem !important;
}

:root {
  background: #302C42;
  font-size: 8px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.fullWidth {
  width: 100%;
}

footer {
  position: relative;
  margin: 4rem 3rem;
  overflow: hidden;
}
footer > * {
  margin-bottom: 2rem;
}

section > * {
  margin-bottom: 2rem;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 2;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
}

body {
  margin: 0;
}

nav, img, hr {
  width: 100%;
}

hr {
  border: none;
  background: rgba(192, 183, 232, 0.33);
  height: 2px;
  margin: 1rem 0 1rem 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  margin-left: 2rem;
  margin-right: 2rem;
}

main > * {
  margin-bottom: 5rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.5rem;
}

h5 {
  font-size: 3rem;
}

h6 {
  font-size: 2.5rem;
}

p, div, button, li, a {
  font-size: 2rem;
}

p, div {
  font-weight: 300;
  line-height: 4rem;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 1rem 0 1rem 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: normal;
}

ol, ul {
  list-style: none;
  padding: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clickable, .hamburger {
  cursor: pointer;
  background: none;
  border: none;
}

.gradient-btn {
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  color: #302C42;
  font-weight: 700;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 5rem;
  border: none;
}

.secondary-btn {
  background: transparent;
  color: white;
  font-weight: 700;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 5rem;
  border: 1px solid white;
}

.gradient-btn__nav-button, .secondary-btn__nav-button {
  padding: 2rem 4rem;
}

.Hero-root__cta button:first-of-type {
  transform: rotate(180deg);
}

.About-root {
  position: relative;
}
.About-root .lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.How-root, .Build-root {
  position: relative;
}
.How-root .lines, .Build-root .lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 50%;
}
.How-root .lines img, .Build-root .lines img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Footer-root .lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 50%;
}
.Footer-root .lines img {
  width: 300%;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

img[alt="main logo"] {
  width: auto;
  height: auto;
  max-width: 10rem;
}

footer img[alt="main logo"] {
  width: 100%;
  height: 100%;
  max-width: 22rem !important;
}

img[alt="text logo"] {
  width: auto;
  height: auto;
  max-width: 5rem;
}

img[alt="woman wearing vr headset"] {
  border-radius: 10rem 10rem 10rem 30rem;
  max-width: 61rem;
}

img[alt="man wearing vr headset"] {
  border-radius: 7.5rem 17.5rem;
  max-width: 65rem;
}

.shadow {
  box-shadow: 0 0 0 3rem rgba(14, 14, 14, 0.3215686275);
}

img[alt="woman using vr headset"] {
  border-radius: 50%;
  width: 100%;
  max-width: 23rem;
  aspect-ratio: 1/1;
}

img[alt="another woman wearing vr headset"] {
  border-radius: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 20rem;
}

img[alt=divider] {
  height: 100%;
  width: auto;
}

img[alt="arrow right"], img[alt="arrow left"] {
  width: 100%;
  max-width: 10rem;
}

.Tech-root__banner-container {
  position: relative;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
}
.Tech-root h3 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

.flex, .col, .row, .Hero-root__cta {
  display: flex;
}

.row, .Hero-root__cta {
  flex-direction: row;
  gap: 2rem;
}

.col {
  flex-direction: column;
  gap: 2rem;
}

.j-start {
  justify-content: flex-start;
}

.j-end {
  justify-content: flex-end;
}

.j-center {
  justify-content: center;
}

.j-between {
  justify-content: space-between;
}

.j-around {
  justify-content: space-around;
}

.j-evenly {
  justify-content: space-evenly;
}

.a-start {
  align-items: flex-start;
}

.a-end {
  align-items: flex-end;
}

.a-center, .Hero-root__cta {
  align-items: center;
}

.Hero-root__cta {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10rem;
  background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
  justify-content: space-around;
}
.Hero-root__cta .row > .col > p, .Hero-root__cta .Hero-root__cta > .col > p {
  margin: 0;
}
.Hero-root__cta .row, .Hero-root__cta .Hero-root__cta, .Hero-root__cta img[alt=divider], .Hero-root__cta .row > .col > h3, .Hero-root__cta .Hero-root__cta > .col > h3 {
  display: none;
  text-align: left !important;
}
.Hero-root__cta .row:first-of-type, .Hero-root__cta .Hero-root__cta:first-of-type {
  display: flex;
}

.Build-root article {
  background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
  padding: 4rem;
  border-radius: 5rem;
}

.How-root article h4 {
  font-size: 2.5rem;
}
.How-root__ellipse {
  border-radius: 50%;
  padding: 2rem;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  position: relative;
  margin: 4rem 0;
  color: #302C42;
  width: 100%;
  max-width: 19rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.How-root__ellipse h4 {
  margin: 0;
  font-size: 5rem !important;
}

::-moz-placeholder {
  color: #fff;
}

::placeholder {
  color: #fff;
}

:focus-visible {
  outline: none !important;
  border: 2px solid #fff;
  box-shadow: inset 0 0 0.5em 0 #8f7aed, 0 0 1em 0.5em #8f7aed;
}

.Contact-root {
  background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
  padding: 5rem 3rem;
  border-radius: 5rem;
}
.Contact-root input, .Contact-root textarea {
  width: 100% !important;
  margin-bottom: 3rem;
  border: 1px solid #fff;
  border-radius: 5rem;
  background: none;
  padding: 2rem 0;
  color: #fff;
  padding-left: 2rem;
  resize: none;
  font-family: inherit;
}
.Contact-root textarea {
  height: 27rem !important;
}/*# sourceMappingURL=main.css.map */